
<body>
    <header>
        <img src="/Dead_Cells_logo.jpg" alt="Dead Cells" class="logo">
    </header>
    <main>
        <section class="grid-container">
            <div class="grid-item"><img src="/world-map.png" alt="Image 1"><button>Caracteristicas del juego</button></div>
            <div class="grid-item"><img src="/gameplay.png" alt="Image 2"><button>Gameplay/DLC</button></div>
        </section>
        <section class="video-section">
            <iframe src="https://youtu.be/02G3GUt6Nzo" frameborder="0" allowfullscreen></iframe>
            
        </section>
        <div id="multi">
            <p id="multiplataforma"> El juego se encuentra disponible en casi todas las plataformas (Steam, Xbox, Playstation, Nintendo, Wii)</p>
            <img src="/multiplataforma.jpg" alt="Dead Cells Cover">
        </div>

       <div class="biomes">
        
            <img src="/Biome_Map_Blurred.png" alt="Biome Map">
            
            <p class="biomes-text">Biomas son las diferentes áreas dentro Células Muertas qué jugadores deben progresar.[1] El juego base actualmente tiene 15 biomas principales y 4 biomas de jefes, mientras que los DLC agregan otros 9 biomas principales y 8 biomas de jefes.[2] El orden en que se encuentran los biomas, y la ubicación general de sus enlaces, están predeterminados, pero se dividen en niveles y solo se puede acceder a un bioma de cada nivel en una carrera, lo que brinda a los jugadores mucha flexibilidad y cambia cada carrera.
                Dentro de cada ejecución, los biomas se generan procesalmente dentro de los límites de los parámetros establecidos de ese bioma. Esto pone el foco del juego en una combinación de adaptación y memorización del momento, con cada bioma teniendo una sensación distinta.[3]
                Cada bioma también tiene un conjunto de enemigos que el jugador encontrará, algunos de ellos son exclusivos de un bioma específico. Las dificultades más altas cambian la piscina enemiga, la distribución y la cantidad.</p>

        </div>
    </main>
    <footer>
        <p>Derechos reservados © 2024</p>
        <div class="social-icons">
            <a href="/whastapp.png"><img src="whatsapp.png" alt="WhatsApp"></a>
            <a href="/logotipo-de-instagram.png"><img src="instagram.png" alt="Instagram"></a>
            <a href="/x.png"><img src="close.png" alt="Close"></a>
        </div>
    </footer>
</body>